# Images
*.ppm

# Vivado
*.jou
*.str
*.log

# HLS Files
hardware_implementation/ray_triangle_intersection_HLS/RayTriangleIntersection/BaseSolution/.autopilot/
hardware_implementation/ray_triangle_intersection_HLS/RayTriangleIntersection/BaseSolution/.debug/
hardware_implementation/ray_triangle_intersection_HLS/RayTriangleIntersection/BaseSolution/.tcls/
hardware_implementation/ray_triangle_intersection_HLS/RayTriangleIntersection/BaseSolution/sim/
hardware_implementation/ray_triangle_intersection_HLS/RayTriangleIntersection/.apc/

# Vivado Files
hardware_implementation/Base_System_Vivado_project/Base_System_Vivado_project.cache/
hardware_implementation/Base_System_Vivado_project/Base_System_Vivado_project.runs/

# Vitis Files
hardware_implementation/vitis_workspace/.metadata/

# Executables
shading
check_out
# Prerequisites
*.d
*.log
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
